body {
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif; }

header {
  height: 17em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin-bottom: 0;
  background-size: cover; }

header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay.png"); }

nav {
  position: fixed;
  -webkit-box-shadow: 0px 4px 9px #222;
  box-shadow: 0px 4px 9px #222;
  width: 100%;
  top: 0;
  left: 0; }

.navbar {
  position: absolute;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  z-index: 10; }

.navbar-brand img {
  height: 60px; }

.navbar ul {
  padding: 8px; }

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }

#logo {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  margin-bottom: 70px; }

/*===========================================================================*/
.wrapper {
  position: relative;
  padding: 40px 0 80px 0; }

.wrapper .title {
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  letter-spacing: 10px;
  font-size: 14px;
  width: 25em;
  height: 3.25em;
  top: -3.25em;
  line-height: 3.25em;
  margin-bottom: -3.25em;
  margin-left: -12.5em;
  padding-top: 0.5em; }

.wrapper .title:before {
  content: '';
  position: absolute;
  bottom: -38px;
  left: -35px;
  width: 35px;
  height: 38px;
  background: url("../images/shadow.png"); }

.wrapper .title:after {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  content: '';
  position: absolute;
  bottom: -38px;
  right: -35px;
  width: 35px;
  height: 38px;
  background: url("../images/shadow.png"); }

.wrapper.style1 {
  background: #c44a4b url("../images/overlay.png");
  color: #eee;
  color: rgba(255, 255, 255, 0.75); }

.wrapper.style1 .title {
  background: #c44a4b url("../images/overlay.png");
  color: #fff; }

.wrapper.style1 h1,
.wrapper.style1 h2,
.wrapper.style1 h3,
.wrapper.style1 h4,
.wrapper.style1 h5,
.wrapper.style1 h6,
.wrapper.style1 strong,
.wrapper.style1 b,
.wrapper.style1 a {
  color: #fff; }

.wrapper.style2 {
  background: #fff; }

.wrapper.style2 .title {
  background: #fff;
  color: #484d55; }

.wrapper.style3 {
  background: #f3f3f3 url("../images/overlay.png"); }

.wrapper.style3 .title {
  background: #f3f3f3 url("../images/overlay.png");
  color: #484d55; }

.wrapper.style3 .image {
  border: solid 10px #fff; }

/* Page Wrapper */
#page-wrapper > section {
  margin-bottom: 0; }

#intro {
  padding-bottom: 8em;
  text-align: center; }

#intro p.style1 {
  font-size: 1.5em;
  letter-spacing: 0.075em; }

#intro p.style2 {
  font-weight: 700;
  color: #fff;
  border-radius: 0.35em;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 2.75em;
  letter-spacing: 0.075em;
  line-height: 1.35em;
  padding: 1em 0 1em 0;
  margin-bottom: 1em; }

#intro p.style2 a {
  color: inherit;
  text-decoration: none; }

#intro p.style3 {
  font-size: 1.1em;
  margin: 0 auto; }

.title {
  display: none; }

/*===========================================*/
.activities {
  margin-top: 20px;
  border-left: solid #ea504c 3px; }

.one-activity {
  padding: 20px;
  margin-top: 10px;
  text-align: left;
  background-color: #f7f7f7; }

.activity-title {
  font-weight: bold;
  text-align: left; }

.schedule-line {
  color: #ea504c;
  font-size: 20px;
  padding: 5px; }

.activity-title {
  font-weight: bold;
  text-align: left; }

.participants {
  font-style: italic;
  text-align: left;
  line-height: 3px; }

/*========================================*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 60px;
  color: #fff;
  background-color: #343a40; }

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  font-size: 30px;
  list-style: none;
  padding: 0; }

footer ul li {
  margin: 10px; }

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px; }

footer a {
  color: #fff; }

footer a:hover {
  color: #f7f7f7; }

/*======================================*/
@media screen and (max-width: 736px) {
  .wrapper .title {
    font-size: 0.9em;
    width: 18em;
    height: 2.5em;
    top: -2.5em;
    line-height: 2.5em;
    margin-bottom: -2.5em;
    margin-left: -9em;
    padding-top: 0.5em; }
  .navbar-brand img {
    height: 30px; } }
